.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
}

.Decrement button {
  background-color: transparent;
  border: none;
  font-size: 20px;
}

.Increment button {
  background-color: transparent;
  border: none;
  font-size: 20px;
}
